html {
    font-family: "Lucinda Grande", "Lucinda Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
}

body {
    color: #EEE;
    background-color: #333;
}

a {
    color: #FFF;
}

a:visited {
    color: #AAF;
}

.front-and-center {
    margin: auto;
}

.game-board {
    width: 25vw;
    height: 25vw;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    background-color: #999;
    display: grid;
    border-radius: 29px;
    grid-gap: 5px;
    padding: 5px;
}

.game-board .cell {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100%;
    min-height: 100%;
    background-color: #444;
    vertical-align: middle;
    text-align: center;
    font-size: 800%;
    font-weight: 700;
    color: #999;
    border-radius: 24px;
}

.no-select {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}