<!doctype html>
<head>
    <title>{% block title %}TTTAI{% endblock %}</title>
    <link href="{{ url_for('main.static', filename='css/style.css') }}" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<div class="front-and-center" id="contents">
    <h1 class="heug compact"><a href="{{ url_for('main.home') }}">TTTAI</a></h1>
    {% block contents %}{% endblock %}
</div>
{% block base_scripts %}
<script>
    const APPLICATION = {
        URL_PREFIX: "{{ FLASK_APPLICATION_ROOT() }}"
    };
    var WEBGAME_VARS = {}
    {% block scripting_variables %}{% endblock %}
</script>
<script src="{{ url_for('main.static', filename='js/enum.js') }}"></script>
<script src="{{ url_for('main.static', filename='js/tttai.js') }}"></script>
{% endblock %}
{% block scripts %}
{% endblock %}
