{% extends 'base.html' %}
{% block contents %}
<div id="main-game-board" class="game-board">
    {% for mark in board_marks %}<div class="cell no-select"></div>
{% endfor %}</div>
<div class="lorg" id="win-field"></div>
<a class="medium hide-until-win hidden" href="{{ url_for('start_new_game') }}">Play again</a>
{% endblock %}
{% block scripting_variables %}
WEBGAME_VARS['session-id'] = {{ session_id }}
{% endblock %}
{% block scripts %}
<script src="{{ url_for('static', filename='js/webgame.js') }}"></script>
{% endblock %}